    .letter1{font-size:480px;font-family: serif;line-height: 100%;
    float:left;
    margin-right:30px;
    margin-left:50px;
    }

    .judge{font-size:240px;font-family: serif;line-height: 100%;
    float:left;}


    .flt_lef{float:left;}
    .over_flow_no{overflow: hidden;}

    .mar_b30{margin-bottom:30px;}
    .mar_b32{margin-bottom:32px;}
    .mar_l50{margin-left:50px;}

        .btn_c06{background-color: rgb(221, 221, 255);}
        .fnt_c00{color:#ffffff;
        }


        .h120{height:240px;}
        .pad_a16{padding:16px;}
        .mar_r8{margin-right:8px;}

        .fnt_s24{font-size:24px;}
        .fnt_s36{font-size:36px;}

        .fnt_s72{font-size:72px;}



        .rad_8{
        /*-moz-border-radius: 6px;  */
        /*-webkit-border-radius: 6px;  */
        border-radius: 8px 8px 8px 8px;
        behavior:urL(http://asp.center.his/media/js/radius.htc);
        }


.chkd{
    background-color: rgb(255, 255, 255);
    color:rgb(161, 177, 192);
}

.caution1{
    background-color: rgb(212, 39, 39);
    color:rgb(255, 255, 255);
}
