<html>
    <body>

        <div id="app">
            <div v-if="!completed">
                {{ currentTurn.e1sample }}
                
                
                <div style="height:50px;width:50px;display:inline" @click="visibility_toggle('weak',turn)">
                    <span v-if="currentTurn.etc2==1">{{currentTurn.letter}}</span>
                </div>

            </div>
            <div v-else>
                もうない
            </div>
            <button @click="upp1()">prev</button>
        </div>

        
        <script src="js/vue.min.js"></script>
        <script type="module">
            import outside from './js/english_words.js'
            var value = new Vue({
                el: '#app',
                data:{
                    exec1:0,
                    turn:0,
                    qq:[]
                },
                methods:{
                    upp1:function(){
                        this.turn++
                    },
                    shuffle: function(array) {
                        for (let i = array.length - 1; i > 0; i--) {
                            let r = Math.floor(Math.random() * (i + 1))
                            let tmp = array[i]
                            array[i] = array[r]
                            array[r] = tmp
                        }
                        /*array.splice(12,array.length)*/
                        return array
                    },
                    visibility_toggle: function(mode,index){
                        if(this.qq[turn].etc2=='' || this.qq[turn].etc2==null){
                            this.qq[turn].etc2=1
                        }else{
                            this.qq[turn].etc2=''
                        }
                    }
                },
                computed: {
                    currentTurn: function() {
                        if(this.exec1==0){

                            //console.log(outside.questions.length)
                            this.qq = outside.questions
                            return this.qq[this.turn]
                            this.exec1=1
                        }else{
                            return this.qq[this.turn]
                        }
                    },
                    completed: function() {
                        return (this.turn==outside.questions.length);
                    }
                }
            })
        </script>
    </body>
</html>