<html>
    <head>

        <link rel="stylesheet" href="css/parents.css">
        <meta name='viewport' content='width=device-width,initial-scale=1.0' />

        <meta description="漢字">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">

    </head>


    <body>

        <div id="app">

            <div id="header">
                <!--script src="js/menu.js"></script-->
                <!--div class="flt_lef">
                    <span class="cur_poi" @click="view_toggle()">表示切替</span>　
                </div-->
                <div class="logo1">
                    <img src="img/logo1.png" style="width:24px;height:24px;">
                    </div>

                <div class="flt_lef mar_r24">
                    <details class="cur_poi" id="detail1" style="background-color: rgb(255,255,255);">
                        <summary>表示切替</summary>
                        <div class="summary_contents bor_c03 bor_w1 shd2_9">
                            <div @click="view0()">単_全</div>
                            <div @click="view1()">単_苦手</div>
                            <div @click="view2()">一覧_全</div>
                            <div @click="view3()">一覧_苦手</div>
                            <div @click="view4()">練習_全</div>
                            <div @click="view5()">練習_苦手</div>
                        </div>
                    </details>
                </div>
            
                <div class="flt_lef mar_r24">
                    <details class="cur_poi" id="year1" style="background-color: rgb(255,255,255);">
                        <summary>年</summary>
                        <div class="summary_contents bor_c03 bor_w1 shd2_9">
                            <div @click="change_disp('Elementary','1')">小1</div>
                            <div @click="change_disp('Elementary','2')">小2</div>
                            <div @click="change_disp('Elementary','3')">小3</div>
                            <div @click="change_disp('Elementary','4')">小4</div>
                            <div @click="change_disp('Elementary','5')">小5</div>
                            <div @click="change_disp('Elementary','6')">小6</div>
                            <div @click="change_disp('Junior_High','')">中学</div>
                        </div>
                    </details>


                </div>



                <div class="flt_lef mar_r24">
                    <details class="cur_poi" id="semester1" style="background-color: rgb(255,255,255);">
                        <summary>学期</summary>
                        <div class="summary_contents bor_c03 bor_w1 shd2_9">
                            <div @click="change_semester('1')">1</div>
                            <div @click="change_semester('2')">2</div>
                            <div @click="change_semester('3')">3</div>
                            <div @click="change_semester('')">全</div>
                        </div>
                    </details>
                </div>

                <div class="flt_lef" id="url1" @click="create_status_now()">
                    <span>URL</span>
                </div>
            </div>


            <div id="content" v-cloak>
                <!-- ****************************************************************************************** -->
                <div v-if="!completed && create_url!=1">

                    <div class="fnt_s12">
                        {{status_info}}
                    </div>
    


                    <div v-if="view_mode==0 || view_mode==1">

                        <div v-if="view_mode==0" class="over_flow_no mar_b10">
                            <div class="count_font flt_lef mar_r48">
                                {{ turnIndex+1 }} / {{ filtered_cnt }}
                            </div>
    
                            <div class="url_prop">
                                {{this.url_prop}}
                            </div>
    
                        </div>
    
                        <div v-if="view_mode==1" class="over_flow_no mar_b10">
                            <div class="count_font flt_lef mar_r48">
                                {{ turnIndex+1 }} / {{ weak_cnt }}
                            </div>
                            <div class="url_prop">
                                {{this.url_prop}}
                            </div>
    
                        </div>

                        <div class="over_flow_no">

                            <div v-if="currentTurn.weak==1" v-bind:id="['letter_'+ turnIndex]" class="letter1 mar_b15 cur_poi caution1" @click="rtn_toggle(turnIndex)">
                                {{ currentTurn.letter }}
                            </div>                            

                            <div v-else-if="currentTurn.weak==9" v-bind:id="['letter_'+ turnIndex]" class="letter1 mar_b15 cur_poi chkd" @click="rtn_toggle(turnIndex)">
                                {{ currentTurn.letter }}
                            </div>                            
                            
                            <div v-else v-bind:id="['letter_'+ turnIndex]" class="letter1 mar_b15 cur_poi" @click="rtn_toggle(turnIndex)">
                                {{ currentTurn.letter }}
                            </div>                            
                            
                            
                            <div class="flt_lef mar_b15 quest_rig">
                                <div class="fnt_s12 school_year_semester">
                                    {{ currentTurn.school}}{{ currentTurn.year}}
                                    <span v-if="currentTurn.semester!=''">
                                        Semester{{ currentTurn.semester}}
                                    </span>
                                </div>

                                <div class="fnt_s24 over_flow_wrap_any read_box">
                                    {{ currentTurn.e1read}}
                                    {{ currentTurn.e2read}}
                                    {{ currentTurn.j1read}}
                                </div>
                                <div class="over_flow_no">
                                    <div class="fnt_s32 flt_lef">{{ currentTurn.part}}　</div>
                                    <div class="fnt_s24 pad_t16 flt_lef">{{ currentTurn.figure}}画</div>
                                </div>
                                <div class="fnt_s12 part_name">{{ part_item_name}}</div>
                            </div>
                        </div>

                        <div class="mar_b15 fnt_s24 read_sample1">{{ currentTurn.e1sample}} {{ currentTurn.e2sample}} {{ currentTurn.j1sample}}</div>


                        <div class="over_flow_no mar_b12">
                            <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="addAnswer(currentTurn.weak)">
                                <div class="btn_square_tex1 lh100p fnt_c00">></div>
                                <div class="btn_square_tex2 fnt_c00">つぎへ</div>
                            </div>

                            <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="reduceAnswer()">
                                <div class="btn_square_tex1 lh100p fnt_c00"><</div>
                                <div class="btn_square_tex2 fnt_c00">もどる</div>
                            </div>

                            <div class="btn-radius-solid btn_square1 tex_cen flt_lef cur_poi" @click="back_to_first()">
                                <div class="btn_square_tex2 lh100p mar_t_btn_square_tex2 fnt_c00">はじめに</div>
                                <div class="btn_square_tex2 fnt_c00">もどる</div>
                            </div>



                        </div>


                        <div class="btn-radius-solid h60 tex_cen btn_banner1 mar_b12 jud_o cur_poi" @click="jud_o()">
                                <div class="fnt_s48 lh100p mar_t5 fnt_c00"><img src="img/o.png" class="h50"></div>
                        </div>
                        
                        <div class="btn-radius-solid h60 tex_cen btn_banner1 mar_b12 jud_x cur_poi" @click="jud_x()">
                            <div class="fnt_s48 lh100p mar_t5 fnt_c00"><img src="img/x.png" class="h50"></div>
                        </div>
                        
                        <div class="btn-radius-solid h60 tex_cen btn_banner1 jud_cxl cur_poi" @click="jud_cxl()">
                            <div class="fnt_s32 lh100p mar_t12 fnt_c00">cancel</div>
                        </div>

                        <div class="h60">
                        
                        </div>

                    </div>




                    <!-- ************************************************************ -->
                    <div v-else-if="view_mode==2">


                        <div class="over_flow_no mar_b10">
                            <div class="count_font flt_lef mar_r48">
                                {{ filtered_cnt }}
                            </div>

                            <div class="url_prop">
                                {{this.url_prop}}
                            </div>
                        </div>



                        <div v-for="(currentTurn,index) in filtered_items">
                            <div class="flt_lef tex_cen letter2_box">


                                <div v-if="currentTurn.weak==1" class="caution1_all letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                    {{ currentTurn.letter}}
                                </div>

                                <div v-else-if="currentTurn.weak==9" class="chkd letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                    {{ currentTurn.letter}}
                                </div>

                                <div v-else class="letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                    {{ currentTurn.letter}}
                                </div>

                                <div class="read_sample2" @click="rtn_toggle(index)">
                                    {{currentTurn.e1sample}} {{currentTurn.e2sample}} {{currentTurn.j1sample}}
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- ************************************************************ -->
                    <div v-else-if="view_mode==3">
                        <div class="over_flow_no mar_b10">
                            <div class="count_font flt_lef mar_r48">
                                {{ weak_cnt }}
                            </div>
                            <div class="url_prop">
                                {{this.url_prop}}
                            </div>
                        </div>
                        <!-- ************* -->
                        <div v-for="(currentTurn,index) in weak_items">
                            <div class="flt_lef tex_cen letter2_box">

                                <div v-if="currentTurn.weak==1" class="caution1_all letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                    {{ currentTurn.letter}}
                                </div>

                                <div v-else-if="currentTurn.weak==9" class="chkd letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                    {{ currentTurn.letter}}
                                </div>

                                <div v-else class="letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                    {{ currentTurn.letter}}
                                </div>

                                <div class="read_sample2" @click="rtn_toggle(index)">
                                    {{currentTurn.e1sample}} {{currentTurn.e2sample}} {{currentTurn.j1sample}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ************************************************************ -->
                    <div v-else-if="view_mode==4">
                        <div class="over_flow_no mar_b10">
                            <div class="count_font flt_lef mar_r48">
                                {{ filtered_cnt }}
                            </div>
                            <div class="url_prop">
                                {{this.url_prop}}
                            </div>
                        </div>

                        <div v-for="(currentTurn,index) in filtered_items" class="self_study1">
                            <div class="flt_lef visibility">
                                <img src="img/visibility.png" @click="visibility_toggle('filtered',index)">
                            </div>

                            <div v-if="currentTurn.weak==1" v-bind:id="['sample_'+ index]" class="caution2_all read_sample3" @click="sample_toggle(index)">
                                {{currentTurn.e1sample}} {{currentTurn.e2sample}} {{currentTurn.j1sample}}
                            </div> 

                            <div v-else-if="currentTurn.weak==9" v-bind:id="['sample_'+ index]" class="chkd read_sample3" @click="sample_toggle(index)">
                                {{currentTurn.e1sample}} {{currentTurn.e2sample}} {{currentTurn.j1sample}}
                            </div> 

                            <div v-else class="read_sample3" v-bind:id="['sample_'+ index]" @click="sample_toggle(index)">
                                {{currentTurn.e1sample}} {{currentTurn.e2sample}} {{currentTurn.j1sample}}
                            </div>

                            <div class="letter3_box cur_poi" @click="visibility_toggle('filtered',index)">
                                <div class="round_bracket">（</div>    
                                    <div class="letter3 letter3_s108">

                                        <span v-if="currentTurn.etc2!=1" v-bind:id="['letter_'+ index]" class="disp_no">
                                            {{ currentTurn.letter}}
                                        </span>
                                        <span v-else="currentTurn.etc2!=1" v-bind:id="['letter_'+ index]">
                                            {{ currentTurn.letter}}
                                        </span>

                                    </div>
                                <div class="round_bracket">）</div>
                            </div>
                        </div>
                        <div class="h60">
                        
                        </div>

                    </div>

                    <!-- ************************************************************ -->
                    <div v-else-if="view_mode==5">
                        <div class="over_flow_no mar_b10">
                            <div class="count_font flt_lef mar_r48">
                                {{weak_cnt}}
                            </div>
                            <div class="url_prop">
                                {{this.url_prop}}
                            </div>
                        </div>

                        <div v-for="(currentTurn,index) in weak_items" class="self_study1">
                            <div class="flt_lef visibility">
                                <img src="img/visibility.png" @click="visibility_toggle('weak',index)">
                            </div>


                            <div v-if="currentTurn.weak==1" v-bind:id="['sample_'+ index]" class="caution2_all read_sample3" @click="sample_toggle(index)">
                                {{currentTurn.e1sample}} {{currentTurn.e2sample}} {{currentTurn.j1sample}}
                            </div> 

                            <div v-else-if="currentTurn.weak==9" v-bind:id="['sample_'+ index]" class="chkd read_sample3" @click="sample_toggle(index)">
                                {{currentTurn.e1sample}} {{currentTurn.e2sample}} {{currentTurn.j1sample}}
                            </div> 

                            <div v-else class="read_sample3" v-bind:id="['sample_'+ index]" @click="sample_toggle(index)">
                                {{currentTurn.e1sample}} {{currentTurn.e2sample}} {{currentTurn.j1sample}}
                            </div>

                            <div class="letter3_box cur_poi" @click="visibility_toggle('weak',index)">
                                <div class="round_bracket">（</div>    
                                    <div class="letter3 letter3_s108">



                                        <span v-if="currentTurn.etc2!=1" v-bind:id="['letter_'+ index]" class="disp_no">
                                            {{ currentTurn.letter}}
                                        </span>
                                        <span v-else="currentTurn.etc2!=1" v-bind:id="['letter_'+ index]">
                                            {{ currentTurn.letter}}
                                        </span>


                                    </div>
                                <div class="round_bracket">）</div>
                            </div>
                        </div>
                        <div class="h60">
                        
                        </div>

                    </div>



















                </div>

                <!-- ****************************************************************************************** -->
                <div v-if="completed || create_url==1">
                    <div v-if="view_mode==0 || view_mode==1" class="fnt_s32">


                        <span v-if="view_mode==0">
                            {{ filtered_items.length }}
                        </span>
                        <span v-else>
                            {{ weak_items.length }}
                        </span>
                        問 終了です！
                    </div>


                    <div class="fnt_s16 mar_t24 mar_b24">
                        <a v-bind:href="[current_url]">今回の結果を反映させたURLはこちら</a>
                    </div>

                    <div class="fnt_s12 over_flow_wrap_any mar_b24 w100p">
                        <a v-bind:href="[current_url]">{{current_url}}</a>
                    </div>

                    <!--div class="mar_b24 w100p">
                        上記URL QRコード<br />
                        <img v-bind:src="'https://chart.apis.google.com/chart?chs=150x150&cht=qr&chl='+[current_url]">
                    </div-->



                    <div v-if="view_mode==0 || view_mode==1">
                        <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="reduceAnswer()">
                            <div class="btn_square_tex1 lh100p fnt_c00"><</div>
                            <div class="btn_square_tex2 fnt_c00">もどる</div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="back_to_first()">
                            <div class="btn_square_tex1 lh100p fnt_c00"><</div>
                            <div class="btn_square_tex2 fnt_c00">もどる</div>
                        </div>
                    </div>




                    <div v-if="view_mode==0 || view_mode==1">
                        <div class="btn-radius-solid btn_square1 tex_cen flt_lef cur_poi" @click="back_to_first()">
                            <div class="fnt_s16 lh100p mar_t32 fnt_c00">はじめに</div>
                            <div class="fnt_s16 fnt_c00">もどる</div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
        <script src="js/num.min.js"></script>
        <script src="js/contents.js"></script>

    </body>
</html>