<html>
    <head>
        <link rel="stylesheet" href="css/parents.css">
        <meta name='viewport' content='width=device-width,initial-scale=1.0' />
        <meta description="漢字">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">
    </head>



    <body>
        <div id="app" >



            <div id="header">

                <div class="logo1">
                    <details class="cur_poi" id="change_focus" style="background-color: rgb(255,255,255);">
                        <summary><img src="img/logo1.png" style="width:24px;height:24px;"></summary>
                        <div class="summary_contents bor_c03 bor_w1 shd2_9">
                            <div @click="change_focus('kanji')">漢字</div>
                            <div @click="change_focus('english_words')">英単語</div>
                            <div @click="change_focus('national_flag')">国旗</div>
                            <div @click="change_focus('automobile_manufacturers')">自動車メーカー</div>
                        </div>
                    </details>
                </div>

                <div class="flt_lef mar_r24">
                    <details class="cur_poi" id="change_view_mode" style="background-color: rgb(255,255,255);">
                        <summary>表示切替</summary>
                        <div class="summary_contents bor_c03 bor_w1 shd2_9">
                            <div @click="change_view_mode(0)">単_全</div>
                            <div @click="change_view_mode(1)">単_苦手</div>
                            <div @click="change_view_mode(2)">一覧_全</div>
                            <div @click="change_view_mode(3)">一覧_苦手</div>
                            <div @click="change_view_mode(4)">練習_全</div>
                            <div @click="change_view_mode(5)">練習_苦手</div>
                        </div>
                    </details>
                </div>
            
                <div class="flt_lef mar_r24">
                    <details class="cur_poi" id="year1" style="background-color: rgb(255,255,255);">
                        <summary>年</summary>
                        <div v-if="url_focus=='kanji'">
                            <div class="summary_contents bor_c03 bor_w1 shd2_9">
                                <div @click="change_disp('Elementary','1')">小1</div>
                                <div @click="change_disp('Elementary','2')">小2</div>
                                <div @click="change_disp('Elementary','3')">小3</div>
                                <div @click="change_disp('Elementary','4')">小4</div>
                                <div @click="change_disp('Elementary','5')">小5</div>
                                <div @click="change_disp('Elementary','6')">小6</div>
                                <div @click="change_disp('Junior_High','')">中学</div>
                            </div>
                        </div>

                        <div v-else="url_focus=='automobile_manufacturers'">
                            <div class="summary_contents bor_c03 bor_w1 shd2_9">
                                <div @click="change_disp('Elementary','日本')">日本</div>
                                <div @click="change_disp('Elementary','中国')">中国</div>
                                <div @click="change_disp('Elementary','韓国')">韓国</div>
                                <div @click="change_disp('Elementary','ロシア')">ロシア</div>
                                <div @click="change_disp('Elementary','ルーマニア')">ルーマニア</div>
                                <div @click="change_disp('Elementary','フランス')">フランス</div>
                                <div @click="change_disp('Elementary','ドイツ')">ドイツ</div>
                                <div @click="change_disp('Elementary','スウェーデン')">スウェーデン</div>
                                <div @click="change_disp('Elementary','オーストラリア')">オーストラリア</div>
                                <div @click="change_disp('Elementary','イタリア')">イタリア</div>
                                <div @click="change_disp('Elementary','イギリス')">イギリス</div>
                                <div @click="change_disp('Elementary','アメリカ')">アメリカ</div>
                            </div>
                        </div>







                    </details>
                </div>

                <div class="flt_lef mar_r24">
                    <details class="cur_poi" id="semester1" style="background-color: rgb(255,255,255);">
                        <summary>学期</summary>
                        <div class="summary_contents bor_c03 bor_w1 shd2_9">
                            <div @click="change_semester('1')">1</div>
                            <div @click="change_semester('2')">2</div>
                            <div @click="change_semester('3')">3</div>
                            <div @click="change_semester('')">全</div>
                        </div>
                    </details>
                </div>

                <div class="flt_lef cur_poi" id="url1" @click="create_status_now()">
                    <span>URL</span>
                </div>

            </div>



            <div id="content" v-cloak>

                <div v-if="currentTurn"></div>


                <div class="fnt_s12">
                    {{status_info}}
                </div>

    


                <!--********************************************************-->
                <div v-if="url_view_mode==0">

                    <div class="over_flow_no mar_b10">
                        <div class="count_font flt_lef mar_r48">
                            {{ turn + 1 }} / {{ar_filtered_count}}
                        </div>

                        <div class="url_prop">
                            {{url_prop}}
                        </div>
                    </div>


                    <!-- ******** 1つだけ出す場合 ******** -->
                    <div class="over_flow_no">
                        <!--********************************************************-->
                        <div v-if="url_focus=='kanji'" class="over_flow_no">
                            <div v-if="single_weak==1" v-bind:id="['letter_'+ turn]" class="letter1 mar_b15 cur_poi caution1" @click="rtn_toggle(turn)">
                                {{ single_letter }}
                            </div>                            

                            <div v-else-if="single_weak==9" v-bind:id="['letter_'+ turn]" class="letter1 mar_b15 cur_poi chkd" @click="rtn_toggle(turn)">
                                {{ single_letter }}
                            </div>                            
                            
                            <div v-else v-bind:id="['letter_'+ turn]" class="letter1 mar_b15 cur_poi" @click="rtn_toggle(turn)">
                                {{ single_letter }}
                            </div>   

                            <div class="flt_lef mar_b15 quest_rig">
                                <div class="fnt_s12 school_year_semester">
                                    {{url_school}}{{url_year}}
                                    <span v-if="url_semester!=''">
                                        Semester {{url_semester}}
                                    </span>
                                </div>

                                <div class="fnt_s24 over_flow_wrap_any read_box">
                                    {{single_e1read}}
                                    {{single_e2read}}
                                    {{single_j1read}}
                                </div>
                                <div class="over_flow_no">
                                    <div class="fnt_s32 flt_lef">{{single_part}}　</div>
                                    <div class="fnt_s24 pad_t16 flt_lef">{{single_figure}}画</div>
                                </div>
                                <div class="fnt_s12 part_name">{{part_item_name}}</div>
                            </div>
                        </div>
                        <!--********************************************************-->


                        <!--********************************************************-->
                        <div v-else-if="url_focus=='english_words'" class="over_flow_no">
                            <div v-if="single_weak==1" v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi caution1" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            

                            <div v-else-if="single_weak==9" v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi chkd" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            
                            
                            <div v-else v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            
                            <div class="flt_lef mar_b15 quest_rig2">
                                <div class="fnt_s12 school_year_semester">
                                    {{url_school}}{{url_year}}
                                    <span v-if="url_semester!=''">
                                        Semester{{url_semester}}
                                    </span>
                                </div>

                                <div class="fnt_s24 over_flow_wrap_any read_box2">
                                    {{single_e1read}}
                                    {{single_e2read}}
                                    {{single_j1read}}
                                </div>
                                <div class="fnt_s12 part_name">{{part_item_name}}</div>
                            </div>
                        </div>
                        <!--********************************************************-->

                        <!--********************************************************-->
                        <div v-else-if="url_focus=='national_flag' || url_focus=='automobile_manufacturers'" class="over_flow_no">
                            <div v-if="single_weak==1" v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi caution1" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            

                            <div v-else-if="single_weak==9" v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi chkd" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            
                            
                            <div v-else v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi" @click="rtn_toggle(turn)">
                                <img v-bind:src="[single_letter]" style="height:200px;">
                            </div>                            
                            <div class="flt_lef mar_b15 quest_rig2">
                                <div class="fnt_s12 school_year_semester">
                                    {{url_school}}{{url_year}}
                                    <span v-if="url_semester!=''">
                                        Semester{{url_semester}}
                                    </span>
                                </div>

                                <div class="fnt_s24 over_flow_wrap_any read_box2">
                                    {{single_e1read}}
                                    {{single_e2read}}
                                    {{single_j1read}}
                                </div>
                                <div class="fnt_s12 part_name">{{part_item_name}}</div>
                            </div>
                        </div>
                        <!--********************************************************-->


                    </div>



                    <div class="mar_b15 fnt_s24 read_sample1">{{single_e1sample}} {{single_e2sample}} {{single_j1sample}}</div>
                    <div class="over_flow_no mar_b12">
                        <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="cue_forward()">
                            <div class="btn_square_tex1 lh100p fnt_c00">></div>
                            <div class="btn_square_tex2 fnt_c00">つぎへ</div>
                        </div>

                        <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="review_rewind()">
                            <div class="btn_square_tex1 lh100p fnt_c00"><</div>
                            <div class="btn_square_tex2 fnt_c00">もどる</div>
                        </div>

                        <div class="btn-radius-solid btn_square1 tex_cen flt_lef cur_poi" @click="back_to_first()">
                            <div class="btn_square_tex2 lh100p mar_t_btn_square_tex2 fnt_c00">はじめに</div>
                            <div class="btn_square_tex2 fnt_c00">もどる</div>
                        </div>
                    </div>


                    <div class="btn-radius-solid h60 tex_cen btn_banner1 mar_b12 jud_o cur_poi" @click="jud_o()">
                        <div class="fnt_s48 lh100p mar_t5 fnt_c00"><img src="img/o.png" class="h50"></div>
                    </div>
                    
                    <div class="btn-radius-solid h60 tex_cen btn_banner1 mar_b12 jud_x cur_poi" @click="jud_x()">
                        <div class="fnt_s48 lh100p mar_t5 fnt_c00"><img src="img/x.png" class="h50"></div>
                    </div>
                    
                    <div class="btn-radius-solid h60 tex_cen btn_banner1 jud_cxl cur_poi" @click="jud_cxl()">
                        <div class="fnt_s32 lh100p mar_t12 fnt_c00">cancel</div>
                    </div>

                    <div class="h60">
                    
                    </div>

                </div>
                <!--********************* / view mode 0 *************************-->

                





                <!--********************************************************-->
                <div v-if="url_view_mode==1">

                    <div class="over_flow_no mar_b10">
                        <div class="count_font flt_lef mar_r48">
                            {{ turn + 1 }} / {{ar_weak_count}}
                        </div>

                        <div class="url_prop">
                            {{url_prop}}
                        </div>
                    </div>


                    <!-- ******** 1つだけ出す場合 ******** -->
                    <div class="over_flow_no">
                        <!--********************************************************-->
                        <div v-if="url_focus=='kanji'" class="over_flow_no">
                            <div v-if="single_weak==1" v-bind:id="['letter_'+ turn]" class="letter1 mar_b15 cur_poi caution1" @click="rtn_toggle(turn)">
                                {{ single_letter }}
                            </div>                            

                            <div v-else-if="single_weak==9" v-bind:id="['letter_'+ turn]" class="letter1 mar_b15 cur_poi chkd" @click="rtn_toggle(turn)">
                                {{ single_letter }}
                            </div>                            
                            
                            <div v-else v-bind:id="['letter_'+ turn]" class="letter1 mar_b15 cur_poi" @click="rtn_toggle(turn)">
                                {{ single_letter }}
                            </div>   

                            <div class="flt_lef mar_b15 quest_rig">
                                <div class="fnt_s12 school_year_semester">
                                    {{url_school}}{{url_year}}
                                    <span v-if="url_semester!=''">
                                        Semester {{url_semester}}
                                    </span>
                                </div>

                                <div class="fnt_s24 over_flow_wrap_any read_box">
                                    {{single_e1read}}
                                    {{single_e2read}}
                                    {{single_j1read}}
                                </div>
                                <div class="over_flow_no">
                                    <div class="fnt_s32 flt_lef">{{single_part}}　</div>
                                    <div class="fnt_s24 pad_t16 flt_lef">{{single_figure}}画</div>
                                </div>
                                <div class="fnt_s12 part_name">{{part_item_name}}</div>
                            </div>
                        </div>
                        <!--********************************************************-->


                        <!--********************************************************-->
                        <div v-else-if="url_focus=='english_words'" class="over_flow_no">
                            <div v-if="single_weak==1" v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi caution1" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            

                            <div v-else-if="single_weak==9" v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi chkd" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            
                            
                            <div v-else v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            
                            <div class="flt_lef mar_b15 quest_rig2">
                                <div class="fnt_s12 school_year_semester">
                                    {{url_school}}{{url_year}}
                                    <span v-if="url_semester!=''">
                                        Semester{{url_semester}}
                                    </span>
                                </div>

                                <div class="fnt_s24 over_flow_wrap_any read_box2">
                                    {{single_e1read}}
                                    {{single_e2read}}
                                    {{single_j1read}}
                                </div>
                                <div class="fnt_s12 part_name">{{part_item_name}}</div>
                            </div>
                        </div>
                        <!--********************************************************-->

                        <!--********************************************************-->
                        <div v-else-if="url_focus=='national_flag' || url_focus=='automobile_manufacturers'" class="over_flow_no">
                            <div v-if="single_weak==1" v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi caution1" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            

                            <div v-else-if="single_weak==9" v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi chkd" @click="rtn_toggle(turn)">
                                {{single_letter }}
                            </div>                            
                            
                            <div v-else v-bind:id="['letter_'+ turn]" class="letter1_word mar_b15 cur_poi" @click="rtn_toggle(turn)">
                                <img v-bind:src="[single_letter]" style="height:200px;">
                            </div>                            
                            <div class="flt_lef mar_b15 quest_rig2">
                                <div class="fnt_s12 school_year_semester">
                                    {{url_school}}{{url_year}}
                                    <span v-if="url_semester!=''">
                                        Semester{{url_semester}}
                                    </span>
                                </div>

                                <div class="fnt_s24 over_flow_wrap_any read_box2">
                                    {{single_e1read}}
                                    {{single_e2read}}
                                    {{single_j1read}}
                                </div>
                                <div class="fnt_s12 part_name">{{part_item_name}}</div>
                            </div>
                        </div>
                        <!--********************************************************-->


                    </div>



                    <div class="mar_b15 fnt_s24 read_sample1">{{single_e1sample}} {{single_e2sample}} {{single_j1sample}}</div>
                    <div class="over_flow_no mar_b12">
                        <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="cue_forward()">
                            <div class="btn_square_tex1 lh100p fnt_c00">></div>
                            <div class="btn_square_tex2 fnt_c00">つぎへ</div>
                        </div>

                        <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="review_rewind()">
                            <div class="btn_square_tex1 lh100p fnt_c00"><</div>
                            <div class="btn_square_tex2 fnt_c00">もどる</div>
                        </div>

                        <div class="btn-radius-solid btn_square1 tex_cen flt_lef cur_poi" @click="back_to_first()">
                            <div class="btn_square_tex2 lh100p mar_t_btn_square_tex2 fnt_c00">はじめに</div>
                            <div class="btn_square_tex2 fnt_c00">もどる</div>
                        </div>
                    </div>


                    <div class="btn-radius-solid h60 tex_cen btn_banner1 mar_b12 jud_o cur_poi" @click="jud_o()">
                        <div class="fnt_s48 lh100p mar_t5 fnt_c00"><img src="img/o.png" class="h50"></div>
                    </div>
                    
                    <div class="btn-radius-solid h60 tex_cen btn_banner1 mar_b12 jud_x cur_poi" @click="jud_x()">
                        <div class="fnt_s48 lh100p mar_t5 fnt_c00"><img src="img/x.png" class="h50"></div>
                    </div>
                    
                    <div class="btn-radius-solid h60 tex_cen btn_banner1 jud_cxl cur_poi" @click="jud_cxl()">
                        <div class="fnt_s32 lh100p mar_t12 fnt_c00">cancel</div>
                    </div>

                    <div class="h60">
                    
                    </div>

                </div>
                <!--********************* / view mode 1 *************************-->









































                <!-- *************************** view_mode =2 ********************************* -->
                <div v-else-if="url_view_mode==2">

                    <div class="over_flow_no mar_b10">
                        <div class="count_font flt_lef mar_r48">
                            {{ar_filtered_count}}
                        </div>

                        <div class="url_prop">
                            {{url_prop}}
                        </div>
                    </div>

                    <div v-for="(show_ar,index) in ar_filtered">
                        <div v-if="url_focus=='kanji'" class="flt_lef tex_cen letter2_box">
                            <div v-if="show_ar.weak==1" class="caution1_all letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div v-else-if="show_ar.weak==9" class="chkd letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div v-else class="letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div class="read_sample2" @click="rtn_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div>
                        </div>


                        <!--*************************************************************-->
                        <div v-else-if="url_focus=='english_words'" class="flt_lef letter2_box_word">
                            <div v-if="show_ar.weak==1" class="caution1_all letter2_word bor_w1 bor_c01 cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div v-else-if="show_ar.weak==9" class="chkd letter2_word bor_w1 bor_c01 cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div v-else class="letter2_word bor_w1 bor_c01 cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div class="read_sample2_word" @click="rtn_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div>
                        </div>
                        <!--*************************************************************-->

                        <!--*************************************************************-->
                        <div v-else-if="url_focus=='national_flag' || url_focus=='automobile_manufacturers'" class="flt_lef letter2_box_word">
                            <div v-if="show_ar.weak==1" class="caution1_all letter2_word bor_w1 bor_c01 cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div v-else-if="show_ar.weak==9" class="chkd letter2_word bor_w1 bor_c01 cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div v-else class="letter2_word bor_w1 bor_c01 cur_poi" style="height:100px;" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                <img v-bind:src="[show_ar.letter]" style="height:100px;">
                            </div>

                            <div class="read_sample2_word" @click="rtn_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div>
                        </div>
                        <!--*************************************************************-->

                    </div>

                </div>
                <!-- *************************** /  view_mode =2 ********************************* -->





                <!-- *************************** view_mode 3 ********************************* -->
                <div v-else-if="url_view_mode==3">
                    <div class="over_flow_no mar_b10">
                        <div class="count_font flt_lef mar_r48">
                            {{ar_weak_count}}
                        </div>
                        <div class="url_prop">
                            {{url_prop}}
                        </div>
                    </div>
                    <!-- ************* -->
                    <div v-for="(show_ar,index) in ar_weak">
                        <div class="flt_lef tex_cen letter2_box">
                            <div v-if="show_ar.weak==1" class="caution1_all letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div v-else-if="show_ar.weak==9" class="chkd letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div v-else class="letter2 bor_w1 bor_c01 mar_r_at mar_l_at cur_poi" v-bind:id="['letter_'+index]" @click="rtn_toggle(index)">
                                {{ show_ar.letter}}
                            </div>

                            <div class="read_sample2" @click="rtn_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- *************************** /  view_mode 3 ********************************* -->







                <!-- *************************** view_mode 4 ********************************* -->
                <div v-else-if="url_view_mode==4">
                    <div class="over_flow_no mar_b10">
                        <div class="count_font flt_lef mar_r48">
                            {{ar_filtered_count}}
                        </div>
                        <div class="url_prop">
                            {{url_prop}}
                        </div>
                    </div>

                    <div v-for="(show_ar,index) in ar_filtered" class="self_study1">
                        <div class="flt_lef visibility">
                            <img src="img/visibility.png" @click="visibility_toggle('filtered',index)">
                        </div>




                        <div v-if="url_focus=='kanji'" class="disp_in">
                            <div v-if="show_ar.weak==1" v-bind:id="['sample_'+ index]" class="caution2_all read_sample3" @click="sample_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div> 

                            <div v-else-if="show_ar.weak==9" v-bind:id="['sample_'+ index]" class="chkd read_sample3" @click="sample_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div> 

                            <div v-else class="read_sample3" v-bind:id="['sample_'+ index]" @click="sample_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div>
                        </div>


                        <div v-if="url_focus=='english_words'" class="disp_in">
                            <div v-if="show_ar.weak==1" v-bind:id="['sample_'+ index]" class="caution2_all read_sample3" @click="sample_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div> 

                            <div v-else-if="show_ar.weak==9" v-bind:id="['sample_'+ index]" class="chkd read_sample3" @click="sample_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div> 

                            <div v-else class="read_sample3" v-bind:id="['sample_'+ index]" @click="sample_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div>
                        </div>

                        <div v-if="url_focus=='national_flag' || url_focus=='automobile_manufacturers'" class="disp_in">
                            <div v-if="show_ar.weak==1" v-bind:id="['sample_'+ index]" class="caution2_all read_sample3" @click="sample_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div> 

                            <div v-else-if="show_ar.weak==9" v-bind:id="['sample_'+ index]" class="chkd read_sample3" @click="sample_toggle(index)">
                                {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                            </div> 

                            <div v-else class="read_sample3" v-bind:id="['sample_'+ index]" @click="sample_toggle(index)" style="height:100px;">
                                <img v-bind:src="[show_ar.letter]" style="height:100px;">

                            </div>
                        </div>





                        <div class="letter3_box cur_poi" @click="visibility_toggle('filtered',index)">
                            <div class="round_bracket">（</div>    




                                <div v-if="url_focus=='kanji'" class="letter3 letter3_s108">
                                    <span v-if="show_ar.letter_disp!=1" v-bind:id="['letter_'+ index]" class="disp_no">
                                        {{ show_ar.letter}}
                                    </span>
                                    <span v-else="show_ar.letter_disp!=1" v-bind:id="['letter_'+ index]">
                                        {{ show_ar.letter}}
                                    </span>
                                </div>

                                <div v-else-if="url_focus=='english_words'" class="letter3 letter3_word_s108">
                                    <span v-if="show_ar.letter_disp!=1" v-bind:id="['letter_'+ index]" class="disp_no">
                                        {{ show_ar.letter}}
                                    </span>
                                    <span v-else="show_ar.letter_disp!=1" v-bind:id="['letter_'+ index]">
                                        {{ show_ar.letter}}
                                    </span>
                                </div>

                                <div v-else-if="url_focus=='national_flag' || url_focus=='automobile_manufacturers'" class="letter3 letter3_word_s108">
                                    <span v-if="show_ar.letter_disp!=1" v-bind:id="['letter_'+ index]" class="disp_no">
                                        {{ show_ar.letter}}
                                    </span>
                                    <span v-else="show_ar.letter_disp!=1" v-bind:id="['letter_'+ index]">
                                        {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                                    </span>
                                </div>




                            <div class="round_bracket">）</div>
                        </div>
                    </div>
                    <div class="h60">
                    
                    </div>

                </div>
                <!-- *************************** / view_mode 4 ********************************* -->





                <!-- *************************** view_mode 5 ********************************* -->
                <div v-else-if="url_view_mode==5">
                    <div class="over_flow_no mar_b10">
                        <div class="count_font flt_lef mar_r48">
                            {{ar_weak_count}}
                        </div>
                        <div class="url_prop">
                            {{url_prop}}
                        </div>
                    </div>

                    <div v-for="(show_ar,index) in ar_weak" class="self_study1">
                        <div class="flt_lef visibility">
                            <img src="img/visibility.png" @click="visibility_toggle('weak',index)">
                        </div>


                        <div v-if="show_ar.weak==1" v-bind:id="['sample_'+ index]" class="caution2_all read_sample3" @click="sample_toggle(index)">
                            {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                        </div> 

                        <div v-else-if="show_ar.weak==9" v-bind:id="['sample_'+ index]" class="chkd read_sample3" @click="sample_toggle(index)">
                            {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                        </div> 

                        <div v-else class="read_sample3" v-bind:id="['sample_'+ index]" @click="sample_toggle(index)">
                            {{show_ar.e1sample}} {{show_ar.e2sample}} {{show_ar.j1sample}}
                        </div>

                        <div class="letter3_box cur_poi" @click="visibility_toggle('weak',index)">
                            <div class="round_bracket">（</div>    
                                <div class="letter3 letter3_s108">



                                    <span v-if="show_ar.letter_disp!=1" v-bind:id="['letter_'+ index]" class="disp_no">
                                        {{ show_ar.letter}}
                                    </span>
                                    <span v-else="show_ar.letter_disp!=1" v-bind:id="['letter_'+ index]">
                                        {{ show_ar.letter}}
                                    </span>


                                </div>
                            <div class="round_bracket">）</div>
                        </div>
                    </div>
                    <div class="h60">
                    
                    </div>

                </div>
                <!-- *************************** / view_mode 5 ********************************* -->





                <!-- *************************** view_mode finish ********************************* -->
                <div v-else-if="url_view_mode=='finish'">
                    <div v-if="url_view_mode==0 || url_view_mode==1" class="fnt_s32">


                        <span v-if="url_view_mode==0">
                            {{ar_filtered.length }}
                        </span>
                        <span v-else>
                            {{ar_weak.length }}
                        </span>
                        問 終了です！
                    </div>


                    <div class="fnt_s16 mar_t24 mar_b24">
                        <a v-bind:href="[current_url]">今回の結果を反映させたURLはこちら</a>
                    </div>

                    <div class="fnt_s12 over_flow_wrap_any mar_b24 w100p">
                        <a v-bind:href="[current_url]">{{current_url}}</a>
                    </div>

                    <!--div class="mar_b24 w100p">
                        上記URL QRコード<br />
                        <img v-bind:src="'https://chart.apis.google.com/chart?chs=150x150&cht=qr&chl='+[current_url]">
                    </div-->



                    <div v-if="url_view_mode==0 || url_view_mode==1">
                        <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="review_rewind()">
                            <div class="btn_square_tex1 lh100p fnt_c00"><</div>
                            <div class="btn_square_tex2 fnt_c00">もどる</div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="btn-radius-solid btn_square1 tex_cen mar_btn_square1 flt_lef cur_poi" @click="back_to_first()">
                            <div class="btn_square_tex1 lh100p fnt_c00"><</div>
                            <div class="btn_square_tex2 fnt_c00">もどる</div>
                        </div>
                    </div>




                    <div v-if="url_view_mode==0 || url_view_mode==1">
                        <div class="btn-radius-solid btn_square1 tex_cen flt_lef cur_poi" @click="back_to_first()">
                            <div class="fnt_s16 lh100p mar_t32 fnt_c00">はじめに</div>
                            <div class="fnt_s16 fnt_c00">もどる</div>
                        </div>
                    </div>


                </div>
                <!-- *************************** / view_mode finish ********************************* -->





    

            </div>











        </div>

        <script src="js/vue.min.js"></script>
        <script src="js/num.min.js"></script>
        <script type="module" src="js/contents.js"></script>


    </body>
</html>
