<html>
    <body>
        <div id="app">
            <div v-if="!completed">
                {{ vv}}
                <div v-for="currentTurn in qq">
                    {{currentTurn.pp}}
                </div>    
            </div>
        
        </div>

        <script src="js/vue.min.js"></script>


<script type="module">
    import outside from './js/test4.js';
</script>
<script>
    var value = new Vue({
        el: '#app',
        data:{
            vv:'s110',
            ss:'s120',
            qq:[
                {
                    pp:1
                },
                {
                    pp:2
                }
            ]
        },
        methods:{
            tool1:function(){
            }            
        },
        computed: {
            currentTurn: function(){

                
                if(this.vv==0){
                    return this.ss
                }

                //console.log(this.year_group.length)
                //console.log(this.filtered_items.length)


                //console.log(outside.VALUE)
                //console.log("MM")
                
                this.vv=outside.VALUE
                this.vv="xxx"
                
                return this.qq
            },
            completed: function() {
                return (this.vv==this.ss);

            }
        }
    })
</script>






    </body>
</html>