<html>

    <head>
        <meta description="漢字">
    	<link rel="stylesheet" href="css/parents.css">

    </head>


    <body>

        <div id="title1">
            <div class="logo">
            </div>
        </div>


        <div id="content">
            <div id="app-blog2" class="main_cont">
                <div v-for="(item, index) in shuffle_items" class="over_flow_no link_card mar_b30" v-if="item.year == 3 && item.weak == 1">
                    
                    <div class="over_flow_no">
                        <div v-if="item.weak == 1" class="letter1 mar_b32 caution1" v-bind:id="['letter_'+ index + 1]">{{ item.letter }}</div>
                        <div v-else class="letter1 mar_b32" v-bind:id="['letter_'+ index + 1]">{{ item.letter }}</div>

                        <div class="flt_lef mar_b32">

                            <div class="fnt_s24">{{ item.school}}{{ item.year}} {{ item.season}}</div>


                            <div class="fnt_s72">{{ item.e1read}}</div>

                            <p class="pad_lr16 fnt_s72">{{ item.part}}</p>


                        </div>
                        </div>

                        <div class="mar_l50 mar_b32 fnt_s72">{{ item.e1sample}}</div>


<div class="flt_lef btn_c06 h120 pad_a16 mar_r8 fnt_c00 rad_8">&lt;</div>
<div class="judge btn_c06 pad_a16 mar_r8 fnt_c00 rad_8 jud_o" v-bind:id="['jud_o_'+ index + 1]">○</div>
<div class="judge btn_c06 pad_a16 mar_r8 fnt_c00 rad_8 jud_x" v-bind:id="['jud_x_'+ index + 1]">X</div>
<div class="flt_lef btn_c06 h120 pad_a16 fnt_c00 rad_8">></div>

                </div>



            </div>

        </div>



    </body>


    <footer>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="js/contents.js"></script>
    </footer>



</html>